
.italic{
    font-style: italic;
    color: gray;
    font-family:Verdana, Geneva, Tahoma, sans-serif
}
.max-form-width{
    max-width: none;
}

.font-format{
    font-size: 14px;
    font-weight: bold;      
}

.font-format-ligth{
  font-size: 12px;         
}