.header-row {
    background: #abbe00;
    color: #fff;
    font-size: 18px;
  }
  
ion-col {
    border: 1px solid #ECEEEF;
  }

.font-format{
      font-size: 14px;
      font-weight: bold;      
  }

  .font-format-ligth{
    font-size: 12px;         
}