


<div class="container">
    <br/>
    <form [formGroup]="form" (ngSubmit)="submitForm()">
        <div class="form-group">
            <label for="CURP">CURP</label>
            <input type="text" class="form-control" #curp id="CURP" placeholder="Ingrese CURP" formControlName="CURP">            
        </div>
        <div class="form-group">
            <select class="form-group form-select" aria-label="Default select example">
                <option Value="0">Seleccione una opción</option>
                <option value="1">Sputnik</option>
                <!-- <option value="2">Pfizer</option>
                <option value="3">Aztra Zeneca</option> -->
            </select>
        </div>
        
        <div class="form-group">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>               
    </form>
    <br/>
    <button type="button" routerLink="/home" class="btn btn-info">Home</button>    
</div>

