<!-- <section class="page-section-pink" id="services"></section>
    
</section> -->
<br>
<div class="container">
    <div class="text-center">
        <h2 class="section-heading text-uppercase">Registro de vacunación.</h2>            
    </div>
    <div class="row text-center">
        <div class="col-md-6">
            <span class="fa-stack fa-4x">
                <button routerLink="/carnet" class="btn btn-primary btn-lg"><i class="fa fa-id-card"></i> Con registro</button>
                <!-- <i class="fas fa-circle fa-stack-2x text-primary"></i>
                <i class="fas fa-id-card fa-stack-1x fa-inverse"></i> -->
            </span>
            <h4 class="my-3"> Con registro.</h4>
            <p class="text-muted">Ingresa aquí si la persona que va a ser vacunada cuenta con un registro previo</p>
        </div>
        <div class="col-md-6">
            <span class="fa-stack fa-4x">          
                <button routerLink="/registro" class="btn btn-primary btn-lg"><i class="fa fa-folder-open"></i> Sin registro.</button>
                
                <!-- <i class="fas fa-circle fa-stack-2x text-primary"></i>
                <i class="fas fa-keyboard fa-stack-1x fa-inverse"></i>                                         -->
            </span>
            <h4 class="my-3">Sin registro.</h4>
            <p class="text-muted">Ingresa aquí si la persona aún no cuenta con un registro previo.</p>
        </div>          
    </div>
</div>